@charset "UTF-8";
* {
   box-sizing: border-box;
}
.chat {
   display: flex;
   flex-direction: row;
   font-size: 30px;
   height: 540px;
}
#chatbody {
   background-color: #DAD9FF;
   padding: 10px;
   flex: 90%;
}
#chatbox {
   background-color: #AF9DE0;
   padding: 10px;
   flex: 10%;
}
textarea {
   resize: none;
   border-radius: 5px;
   border: 0px;
   outline: 0px;
}
button {
   background-color:#5A1D8D;
   color:white;
   vertical-align: top;
   border-radius: 5px;
}
button:hover {
   background-color: #AF9DE0;
}
body::-webkit-scrollbar {
    width: 6px;
}
 
body::-webkit-scrollbar-track {
   background-color: transparent;
}
body::-webkit-scrollbar-thumb {
   border-radius: 5px;
   background-color: gray;
}
body::-webkit-scrollbar-button {
   width: 0;
   height: 0;
}
textarea::-webkit-scrollbar {
    width: 6px;
}
textarea::-webkit-scrollbar-track {
   background-color: transparent;
}
textarea::-webkit-scrollbar-thumb {
   border-radius: 5px;
   background-color: gray;
}
textarea::-webkit-scrollbar-button {
   width: 0;
   height: 0;
}
#chatappend>div>h3 {
   border: 0px;
   outline: 0px;
   border-radius: 5px;
   font-size: 18px;
   display: inline-block;
   background-color: white;
   word-break:break-all;
}
#chatappend>div {
   border: 1px solid red;
   width: 75%;
   float: left;
}
