@charset "UTF-8";
table {
  border-top: 1px solid #dddddd;
  border-collapse: collapse;
  
}
tr, td {
  border-bottom: 1px solid #dddddd;
}

button {
  background-color: white;
  color: black;
  border: 2px solid #e7e7e7;
}

button:hover {background-color: #e7e7e7;}